{% load static %}
{% load i18n %}
{% load custom_tags %}

<div id="header" class="sticky-top header-scrolled">
  <nav id="navbar" class="navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand" href="#">Offcanvas navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"><a class="nav-link scrollto active" href="#hero">{% trans "Home" %}</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="#services">Services</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="#features">Features</a></li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {% trans "Language" %}
              </a>
              <ul class="dropdown-menu">
                <li>
                  {% get_current_language as LANGUAGE_CODE %}
                  {% if LANGUAGE_CODE == "en" %}
                  <a class="dropdown-item" href="{% change_lang 'ar' %}">العربية</a>
                  {% else %}
                  <a class="dropdown-item" href="{% change_lang 'en' %}">English</a>
                  {% endif %}
                </li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <div class="vr"></div>
            <li>
              {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>