{% extends './skeleton/base.html' %}


{% block content %}
  <div>
    <h1 class="demo-title">lkdsfnslknfls;dknf;lasfdl;nkdfl</h1>
    <p class="demo-text">lkdsfnslknfls;dknf;lasfdl;nkdflp</p>
  </div>
  <hr>
  <div>
    <h1 class="demo-title">lkdsfnslknfls;dknf;lasfdl;nkdfl</h1>
    <p class="demo-text">lkdsfnslknfls;dknf;lasfdl;nkdflp</p>
  </div>
  <hr>
  <div>
    <h1 class="demo-title">lkdsfnslknfls;dknf;lasfdl;nkdfl</h1>
    <p class="demo-text">lkdsfnslknfls;dknf;lasfdl;nkdflp</p>
  </div>
  <hr>
  <div>
    <h1 class="demo-title">lkdsfnslknfls;dknf;lasfdl;nkdfl</h1>
    <p class="demo-text">lkdsfnslknfls;dknf;lasfdl;nkdflp</p>
  </div>

{% endblock %}