{% load static %}


<!-- ======= Features Section ======= -->
<section id="features" class="features ">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Join us</p>
            <h2>What are you waiting for ?</h2>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5 d-sm-none d-md-block">
                    <img src="{% static 'img/features-3.png' %}" class="img-fluid" data-aos="zoom-in" data-aos-delay="100">
                </div>
                <div class="col-md-6 col-lg-7 ">
                    <div class="row">

                        <div class="col-12 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="service-card card-sm">
                                <div class="card-logo">
                                    <i class="bi bi-shop-window"></i>
                                </div>

                                <div class="card-text">
                                    <h4>Create your store</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="service-card card-sm">
                                <div class="card-logo">
                                    <i class="bi bi-box-fill"></i>
                                </div>

                                <div class="card-text">
                                    <h4>pick your product</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="service-card card-sm">
                                <div class="card-logo">
                                    <i class="bi bi-upload"></i>
                                </div>

                                <div class="card-text">
                                    <h4>Upload your design</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="service-card card-sm">
                                <div class="card-logo">
                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                </div>

                                <div class="card-text">
                                    <h4>Market your way to the top</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="service-card card-sm">
                                <div class="card-logo">
                                    <i class="bi bi-ui-checks"></i>
                                </div>

                                <div class="card-text">
                                    <h4>Leave the fullfilment to us</h4>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="service-card card-sm">
                                <div class="card-logo">
                                    <i class="bi bi-cash-coin"></i>
                                </div>

                                <div class="card-text">
                                    <h4>collect your Earnings</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->