{% load static %}

<!-- ======= Get Started Section ======= -->
<section id="services" class="">

    <div class="container" data-aos="fade-up">
        <div class="section-header ">

            <p>simple systeme fordiscount </p>
            <h2>Integer cursus bibendum augue ac cursus .</h2>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="service-card">

                    <div class="card-logo">
                        <img src="{% static 'img/cloud.svg' %}" alt="img">
                    </div>

                    <div class="card-text">
                        <h4>Delivery</h4>
                        <p class="mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-card">

                    <div class="card-logo">
                        <img src="{% static 'img/planet.svg' %}" alt="img">
                    </div>

                    <div class="card-text">
                        <h4>Store</h4>
                        <p class="mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-card">


                    <div class="card-logo">
                        <img src="{% static 'img/asteroid.svg' %}" alt="img">
                    </div>

                    <div class="card-text">
                        <h4>Print factory</h4>
                        <p class="mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>


                </div>
            </div>

        </div>
    </div>

</section>
<!-- End Get Started Section -->